@import "bootstrap";
@import url(//db.onlinewebfonts.com/c/12ce65fe29a2800b0b0d71fdc0714f2d?family=AvantGardeGothicITCW02XLt);
@import url(//db.onlinewebfonts.com/c/1bf864ccde6f3972f894dcdf25b0e47f?family=ITC+Avant+Garde+Gothic);

@font-face {
  font-family: "AvantGardeGothicITCW02XLt";
  src: url("//db.onlinewebfonts.com/t/12ce65fe29a2800b0b0d71fdc0714f2d.eot");
  src: url("//db.onlinewebfonts.com/t/12ce65fe29a2800b0b0d71fdc0714f2d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/12ce65fe29a2800b0b0d71fdc0714f2d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/12ce65fe29a2800b0b0d71fdc0714f2d.woff") format("woff"), url("//db.onlinewebfonts.com/t/12ce65fe29a2800b0b0d71fdc0714f2d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/12ce65fe29a2800b0b0d71fdc0714f2d.svg#AvantGardeGothicITCW02XLt") format("svg");
}

@font-face {
  font-family: "ITC Avant Garde Gothic";
  src: url("//db.onlinewebfonts.com/t/1bf864ccde6f3972f894dcdf25b0e47f.eot");
  src: url("//db.onlinewebfonts.com/t/1bf864ccde6f3972f894dcdf25b0e47f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1bf864ccde6f3972f894dcdf25b0e47f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1bf864ccde6f3972f894dcdf25b0e47f.woff") format("woff"), url("//db.onlinewebfonts.com/t/1bf864ccde6f3972f894dcdf25b0e47f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1bf864ccde6f3972f894dcdf25b0e47f.svg#ITC Avant Garde Gothic") format("svg");
}

body {
  font-family: "AvantGardeGothicITCW02XLt";  
}

nav, .payment-results, #atc, #label, #submit {
  font-family: "ITC Avant Garde Gothic";
}

#submit {
  background-color: #e21836;
}

#submit:hover {
  background-color: #a31026;
}

#submit:disabled {
  background-color: grey;
}

#spinner {
  color: #e21836;
}
